---
import MainLayout from '../../layouts/MainLayout.astro';
---

<MainLayout
  title="RL Strings | Shop"
  description="Stop settling for factory trash. Custom built, professionally strung."
>

  <section>
      <!-- Headline -->
      <h1 class="text-6xl md:text-8xl font-black tracking-tighter mb-6 leading-[0.9] uppercase">
        This is the <span class="text-transparent bg-clip-text bg-gradient-to-br from-red-500 to-red-700">ORDER.</span>
      </h1>
  </section>

</MainLayout>
