---
import {
  SignedIn,
  SignedOut,
  UserButton
} from '@clerk/astro/components';

const { pathname } = Astro.url;
---

<header class="">
  <div class="">
    <div class="">

    </div>
  </div>
</header>
